html {
	height: 100%;
	margin:0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    height:100%;
    display:flex;
    flex-direction: row;
	background-color: #16004a;
	color:#fcfcfc;
}

h1 {
    font-size: 16pt;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}

#info_area {
    padding:10px;
    box-sizing: border-box;
	max-width: 250pt;
}

#map_area {
	min-width:400px;
	width:100%;
}

#map {
    margin-left:auto;
    margin-right: auto;
    min-width:400px;
    height: 100%; 
    width: 100%;
}

a {
	color: #6eecff;
}